
.header{
  color:black;
  text-align: center;
}

.first-para{
  text-align: center;
  color: white;
}

body{
  background-color: grey;
}
pre{
  text-align: center;
}

.container{

  background-color: grey;
  background-image:url("https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-position:center;
width: 100%;
  
}